<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup> 

  <appSettings>
      <add key="AFServer" value="PIAFSVR01" />
      <add key="DataArchiveServer" value="PISVR01" />
   </appSettings>
</configuration>
